body{
	background-color: #DCDCDC;
}
#menu-navbar{
	background-color: #009ed6;
	z-index: 1;
}
footer{
	background-color: #009ed6;
	color: white;
}
.botaoTop{
	margin-left: 85%;
}
.espacoDireitaEsquerda{
	margin-left: 20px;
	margin-right: 20px;
}
.logo img{
	position: absolute; 
	margin-left: 30px; 
	margin-top: 20px; 
	max-height: 250px;
	max-width: 250px;
	z-index: 1;
}
.textoCabecario img{
	position: absolute;
	margin-left: 26%; 
	margin-top: 2%;
	
}
.cabecario img{
	height: 300px; 
	width: 100%;
	margin-top: 30px;
}
.numeros{
	margin-left: 0px;
	margin-bottom: 0px;
}
.imgContatoWhatsapp img{
	max-height: 120px;
	max-width: 120px;
	margin-top: -180px;
	margin-left: 20px;
}

.imgContatoFixo img{
	max-height: 120px;
	max-width: 120px;
	margin-top: -180px;
	margin-left: 20px;
}
.imgContatoEmail img{
	max-height: 120px;
	max-width: 120px;
	margin-top: -150px;
	margin-left: 30px;
}
.imgMaps iframe{
	max-width: auto;
	max-height: auto;
}
@media (max-width: 1000px) {
	.logo img{
		max-height: 200px;
		max-width: auto;
		margin-top: 10px;
	}
	.botaoSobre img{
		width: 100%;
	}
	div.centralizarImg {
    	margin-left: auto;
    	margin-right: auto;
    	width: 16em;
	}
	.cabecario img{
		height: 250px;
		width: 0px;
	}
	.textoCabecario img{
		max-height: 300px;
		max-width: 300px;
		margin-top: 200px;
		margin-left: -20px;
	}
	.imgContatoWhatsapp img{
		max-height: 0px;
		max-width: 0px;
		margin-top: -320px;
		margin-left: 40px;
	}
	.imgContatoWhatsappV img{
		max-height: 0px;
		max-width: 0px;
		margin-top: -320px;
		margin-left: 40px;
	}
	.imgContatoFixo img{
		max-height:00px;
		max-width: 0px;
		margin-top: -320px;
		margin-left: 30px;
	}
	.imgContatoEmail img{
		max-height: 0px;
		max-width: 0px;
		margin-top: -260px;
		margin-left: 60px;
	}
	.imgMaps iframe{
		max-width: 300px;
		max-height: 384px;
	}
	.numeros{
		margin-left: 0%;
		margin-left: 0px;
	}
	.email h5{
		font-size: 18px;
	}
}
@media (max-width: 993px) {
	.logo img{
		max-height: 200px;
		max-width: auto;
		margin-top: 10px;
	}
	.botaoSobre img{
		width: 100%;
	}
	div.centralizarImg {
    	margin-left: auto;
    	margin-right: auto;
    	width: 16em;
	}
	.cabecario img{
		height: 250px;
		width: 0px;
	}
	.textoCabecario img{
		max-height: 300px;
		max-width: 300px;
		margin-top: 200px;
		margin-left: -20px;
	}
	.imgContatoWhatsapp img{
		max-height: 0px;
		max-width: 0px;
		margin-top: -320px;
		margin-left: 40px;
	}
	.imgContatoWhatsappV img{
		max-height: 0px;
		max-width: 0px;
		margin-top: -320px;
		margin-left: 40px;
	}
	.imgContatoFixo img{
		max-height: 0px;
		max-width: 0px;
		margin-top: -320px;
		margin-left: 30px;
	}
	.imgContatoEmail img{
		max-height: 0px;
		max-width: 0px;
		margin-top: -260px;
		margin-left: 60px;
	}
	.imgMaps iframe{
		max-width: 300px;
		max-height: 384px;
	}
	.numeros{
		margin-left: 0%;
		margin-left: 0px;
	}
	.email h5{
		font-size: 18px;
	}
}
@media (max-width: 570px) {
	.logo img{
		max-height: 200px;
		max-width: auto;
		margin-top: 10px;
	}
	.botaoSobre img{
		width: 100%;
	}
	div.centralizarImg {
    	margin-left: auto;
    	margin-right: auto;
    	width: 16em;
	}
	.cabecario img{
		height: 250px;
		width: 0px;
	}
	.textoCabecario img{
		max-height: 300px;
		max-width: 300px;
		margin-top: 200px;
		margin-left: -20px;
	}
	.imgContatoWhatsapp img{
		max-height: 0px;
		max-width: 0px;
		margin-top: -330px;
		margin-left: 40px;
	}
	.imgContatoWhatsappV img{
		max-height: 0px;
		max-width: 0px;
		margin-top: -330px;
		margin-left: 40px;
	}
	.imgContatoFixo img{
		max-height: 0px;
		max-width: 0px;
		margin-top: -330px;
		margin-left: 30px;
	}
	.imgContatoEmail img{
		max-height: 0px;
		max-width: 0px;
		margin-top: -260px;
		margin-left: 60px;
	}
	.imgMaps iframe{
		max-width: 300px;
		max-height: 384px;
	}
	.numeros{
		margin-left: 0%;
		margin-left: 0px;
	}
	.email h5{
		font-size: 18px;
	}
}
@media (max-width: 400px) {
	.logo img{
		max-height: 200px;
		max-width: auto;
		margin-top: 10px;
	}
	.botaoSobre img{
		width: 100%;
	}
	div.centralizarImg {
    	margin-left: auto;
    	margin-right: auto;
    	width: 16em;
	}
	.cabecario img{
		height: 250px;
		width: 0px;
	}
	.textoCabecario img{
		max-height: 300px;
		max-width: 300px;
		margin-top: 200px;
		margin-left: -20px;
	}
	.imgContatoWhatsapp img{
		max-height: 0px;
		max-width: 0px;
		margin-top: -330px;
		margin-left: 35px;
	}
	.imgContatoFixo img{
		max-height: 0px;
		max-width: 0px;
		margin-top: -330px;
		margin-left: 20px;
	}
	.imgContatoEmail img{
		max-height: 0px;
		max-width: 0px;
		margin-top: -300px;
		margin-left: 60px;
	}
	.imgMaps iframe{
		max-width: 290px;
		max-height: 384px;
	}
	.numeros{
		margin-left: 0%;
		margin-left: 0px;
	}
	.email {
		font-size: 20px;
	}
}
